/* Rishi Shetty - May 3, 2024 */

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
}

:root {
    --black: #000000;
    --gray: #899499;
    --light-gray: #E7E7E8;
    --background: #f0f0f0;
    --blue: #0437F2;
    --white: #FFFFFF;
    --maize: #ffcb05;
    --navy: #00274c;
}

html {
    font-family: 'Open Sans', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: var(--background);
}

h1 {
    font-size: 50px;
    font-weight: 900;
    color: var(--black);
}
h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--black);
}
h3{
    font-size: 40px;
    font-weight: 500;
    color: var(--black);
}
p {
    font-size: 17px;
    color: var(--gray);
}
a {
    font-size: 17px;
    color: var(--gray);
    text-decoration: none;
}

.wrapper-content{
    width: 70%;
    margin: 0 auto;
}

nav {
    position: fixed;
    top: 50px;
    left: 5%;
    line-height: 50px;
    width: 100%;
    list-style-type: none;
    z-index: 1000;
}
nav a{
    font-weight: 500;
    color: var(--black);
}
.nav-right{
    position: fixed;
    right: 5%;
    top: 50px;
}

.nav-right a > img{
    vertical-align: middle;
    height: 30px;
    padding-left: 15px;
}

.rec{
    background-color: var(--navy);
    display: inline-block;
    width: 7px;
    height: 14px;
    margin-right: 3px;
}

.resume-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    padding: 0px 15px;
    background-color: var(--navy);
    color: var(--white);
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: background-color 0.4s ease, color 0.3s ease;
}

.resume-box:hover {
    background-color: var(--white);
    color: var(--navy);
    border-color: var(--navy);
}

.landing{
    margin-top: 100px;
    display: flex;
}

.left{
    flex: 1;
    margin-top: 150px;
    position: relative;
}

.right{
    flex: 1;
    margin-top: 30px;
    position: relative;
    padding-left: 300px;
}

.right > img{
    position: relative;
}

.left p{
    width: 400px;
}

.rec-large{
    background-color: var(--maize);
    height: 150px;
    width: 500px;
    position: absolute;
    top:-45px;
    left: -80px;
    z-index: -1;
}

.line{
    height: 3px;
    width: 120px;
    background-color: var(--black);
    position: absolute;
    top: 30px;
    left:-140px;
}

.oval-cutout {
    width: 300px; 
    height: 450px;
    position: absolute;
    border-radius: 50%; 
    overflow: hidden; 
    background-color: var(--white);
    outline: 4px solid var(--black);
}

.contact {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 50px;
}

.contact a{
    display: inline-block;
}
.contact a[href="https://github.com/rvshetty22"] > img {
    border-radius: 23px;
}

.contact a[href="https://www.linkedin.com/in/rishi-shetty/"] > img {
    border-radius: 3px;
}

.contact a > img{
    margin: 0 25px; 
    max-height: 45px; 
    filter: brightness(0%) invert(13%) sepia(16%) saturate(6141%) hue-rotate(186deg) brightness(97%) contrast(105%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.contact a > img:hover {
    box-shadow: none;
    transition: box-shadow 0.4s ease;
}

.section2{
    display: flex;
    margin-top: 125px;
    padding-bottom: 100px;
}

.About_text h3{
    text-align: center;
}

.About_text p{
    text-align: center;
    margin-bottom: 25px;
}

.row0{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Elite {
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.Friends {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-left: 25px;
}

.mfly {
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-left: 25px;
}


.section3{
    display: flex;
    margin-top: 25px;
    padding-bottom: 75px;
}

.Portfolio_text h3{
    text-align: center;
}

.Portfolio_text p{
    text-align: center;
    margin-bottom: 25px;
}
.row1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Wing {
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.Parachute {
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.Polar {
    margin-left: 50px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.row2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.Parachute{
    width: 450px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.Odegra{
    margin-left: 50px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.row3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.Shuttle{
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--black);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p{
    color: var(--white)
}

.enlarge{
    transition: transform 0.5s ease; 
}

.enlarge:hover{
    transform: scale(1.1);
}